.body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2C2F33;
    color: #99AAB5; 
    margin: 0;
    padding: 0;
}

/* App */
.appMain{
}
.loginContainerinApp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-scroll{
    overflow: hidden;
}

/* Login page */

.loginMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: relative;
}
.loginH1 {
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    background-color: #23272A; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.loginH2 {
    color: #99AAB5;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.emailLabel, .passLabel {
    color: #99AAB5;
    margin-bottom: 10px;
    font-size: 14px;
}
.userInput, .passInput {
    background-color: #40444B;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
.userInput:focus, .passInput:focus {
    background-color: #32353B; 
}

.loginButton {
    background-color: #7289DA; 
    color: #FFFFFF;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #99AAB5; 
}

.toggleButton {
    background-color: transparent;
    color: #7289DA;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    margin-top: 780px;
    position: absolute;
    font-size: 14px;
}

.toggleButton:hover {
    color: #FFFFFF; 
}

/* Registration */
.registrationPage{
    display: flex ;
    flex-direction: column ;
    align-items: center;
}

.h2register{
    color: #99AAB5;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
}

.registrationForm{
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #23272A; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.usernameInput, .passwordInput, .firstNameInput, .lastNameInput, .emailInput, .dateInput, .aboutMeInput, .nicknameInput, .AvatarInput, .registerButton{
background-color: #40444B;
    color: #FFFFFF;
    border: none;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    resize: none;
    flex: 2;
}
.usernameInput:focus, .passwordInput:focus, .firstNameInput:focus, .lastNameInput:focus, .emailInput:focus, .dateInput:focus, .AvatarInput:focus, .registerButton:focus {
    background-color: #32353B; 
}
.userNameDiv, .passwordDiv, .firstnameDiv, .lastNameDiv, .emailDiv, .dateDiv, .aboutMeDiv, .nicknameDiv, .avatarDiv{
    display: flex;
    align-items: center;
    width: 100%;
}
.usernameLabel, .passLabel, .firstNameLabel, .lastNameLabel, .emailLabel, .dateLabel, .aboutMeLabel, .nicknameLabel, .AvatarLabel {
    flex: 1;
    text-align: right; 
    margin-right: 10px; 
    font-size: 14px;
}